.carousel {
  :global(.swiper-button-next),
  :global(.swiper-button-prev) {
    background-color: var(--color-tertiary);
    border-radius: 100%;
    color: var(--color-primary);
    width: 36px;
    height: 36px;

    &:after {
      font-size: 18px;
      font-weight: 600;
    }
  }
  :global(.swiper-pagination-bullet) {
    height: 14px;
    width: 14px;
  }
  :global(.swiper-pagination-bullet-active) {
    background-color: var(--color-tertiary);
  }
}